:root {

/*Color Scheme*/
	--color-0: #000000;
  --color-1: #430D23;
	--color-2: #F3CDAF;
	--color-3: #DA9602;
	--color-4: #CD7111;
	--color-5: #7C2D4C;

	--color-11: #CFA5A1;
	--color-12: #B96A3A;
	--color-13: #782F4E;
	--color-14: #461026;
	--color-15: #DA9502;

	--color-year: #FF6F61;
	--color-year-1: #9D446E;
	--color-year-2: #FC9E21;
	--color-year-3: #DC793E;
	--color-year-4: #FEA166;
}



/* Page Style */
html {
	text-rendering: optimizeLegibility;
			font-family: 'Raleway', sans-serif;
}

body {
	padding: 0px;
	margin: 0;

}
.page_container  {
		padding: 5%;
		align-content: center;
}

.hideme {opacity: 1.0; width: inherit;}



/* Header */
.header_container {
/* background: linear-gradient(240deg, var(--color-year-4) 5%, var(--color-year) 51%, var(--color-year-1) 85%); */
/* background: linear-gradient(180deg, var(--color-year) 8%, #ff8a80 41%,  #ffb9b3 85%, #ffe8e6 95%); */
background: linear-gradient(180deg, #da9502 10%, #fcbd36 45%,  #fdce68 75%, #fede9a 90%);
	/* padding:  5%; */
	height: 90vh;
	text-align: center;
  /* display:flex;
  align-items: center; */
}
.header_container h2 {
	font-family: 'Open Sans', sans-serif;
	color: var(--color-year-1);
	font-size: 40px;
}
.header_container p {
	font-family: 'Khula', sans-serif;
	color: var(--color-0);
	font-size: 20px;
}


/* Footer */
.footer_container {
	background-color: #f2f2f2;
	padding:  5%;
}
.footer_container h1{
	color: white;
}
