/*Nav Bar*/
.navbar {
	width: 90%;
	height: 50px;
	position: fixed;
	z-index: 1000;
	padding-left: 5%;
padding-right: 5%;
	padding-top: 0.1%;
	padding-bottom: 0.1%;
	display: flex;
	align-self: center;
	background-color: transparent;
	-webkit-transition: background-color 0.5s linear;
	-moz-transition:  background-color 0.5s linear;
	-o-transition:  background-color 0.5s linear;
	transition:  background-color 0.5s linear;
}

.navbar.outhead{
	background: rgba(255,255,255,1);
	-webkit-transition: background-color 0.5s linear;
	-moz-transition:  background-color 0.5s linear;
	-o-transition:  background-color 0.5s linear;
	transition:  background-color 0.5s linear;
}

.navbar_logo {
	width: 50%;
	display: flex;
	align-content: space-around;
	/* border: 0.5px solid black; */
}
.navbar_menu {
	width: 50%;
	display: flex;
	/* border: 0.5px solid black; */
	overflow: auto;

}

.navbar h1 {
	display: flex;
	align-self: center;
}

.navbar ul {
	list-style: none;
	display: flex;
	align-self: center;
	font-size: 20px;
  justify-content: space-around;
  margin: 0;
	width: 100%;
}

.navbar li {
width: inherit;
text-align: center;

}

.navbar .nav_opt {
display: inline-block;
width: 50%;
border-bottom: transparent 4px solid;
}

.navbar .nav_opt:hover {
cursor:pointer;
border-bottom: white 4px solid;
}

.navbar.outhead .nav_opt:hover {
cursor:pointer;
border-bottom: #fcbd36 4px solid;
}
