:root {
		/*Honeycomb Attributes*/
		--hexa-dim: 400px;
		--hexa-spacing: 0px;
		--hover-time: 1.7s;
		--hover-factor: 1.1;
		--hover-shroud-time: 1.5s;
}


/* Honeycomb */
.honeycomb {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.honeycomb_list {
	list-style: none;
	display: inline-block;
	align-content: center;
}

.honeycomb_list li {
	float: left
}

.honeycomb_unit {
	/* border: var(--color-year) 0.5px solid; */
	width: var(--hexa-dim);
	height: var(--hexa-dim);
	display: flex;
  justify-content:center;
}

.honeycomb_u1 {
		/* background-color: var(--color-11); */
		width: calc(var(--hexa-dim)/1.5);
		height: calc(var(--hexa-dim)*1);
		-webkit-transform: rotate(-60deg); /*-30*/
	      -ms-transform: rotate(-60deg);
	          transform: rotate(-60deg);
		position: absolute;
		z-index: 100;
		overflow:hidden;
		visibility: hidden;
		-webkit-transition: all var(--hover-time) cubic-bezier(0.175, 0.985, 0.32, 1.575);
		-moz-transition: all var(--hover-time) cubic-bezier(0.175, 0.985, 0.32, 1.575);
		-o-transition: all var(--hover-time) cubic-bezier(0.175, 0.985, 0.32, 1.575);
		transition: all var(--hover-time) cubic-bezier(0.175, 0.985, 0.32, 1.575);
}

.honeycomb_u1:hover  {
		transform:scale(var(--hover-factor), var(--hover-factor)) rotate(-60deg);
}

.honeycomb_u2 {
		/* background-color: var(--color-5); */
		width: calc(var(--hexa-dim)/1.5);
		height: calc(var(--hexa-dim)*1);
		-webkit-transform: rotate(60deg);
	      -ms-transform: rotate(60deg);
	          transform: rotate(60deg);
		position: absolute;
		z-index: 101;
		overflow:hidden;
		visibility: hidden;
}

.honeycomb_u2:hover  {
		transform:scale(1.0,1.0) rotate(60deg);
}

.honeycomb_u3 {
		/* background-color: var(--color-3); */
		/* border: green solid 1px; */
		width: calc(var(--hexa-dim)/1.5);
		height: calc(var(--hexa-dim)*1);
		-webkit-transform: rotate(60deg);
	      -ms-transform: rotate(60deg);
	          transform: rotate(60deg);
		position: absolute;
		align-items: baseline;
		z-index: 102;
		visibility: visible;
		overflow: hidden;
		cursor: pointer;
}

.honeycomb_u3:hover  {
		transform:scale(1.0,1.0) rotate(60deg);
}

/* Honeycomb Content */
.honeycomb_unit .honeycomb_content {
		width: calc(var(--hexa-dim)/1.5);
		height: calc(var(--hexa-dim)*1);
			-webkit-transform: rotate(-60deg);
		      -ms-transform: rotate(-60deg);
		          transform: rotate(-60deg);
  position: absolute;
	z-index: 200;
	display: flex;
}

.honeycomb_unit .honeycomb_content img {
		width: calc(var(--hexa-dim));
		position: absolute;
		z-index: 101;
		left: -67px;

}
.honeycomb_unit .honeycomb_content .honeycomb_shroud {
	background-color: var(--color-3);
		width: calc(var(--hexa-dim)/1.5);
		height: 0;
		align-self: flex-end;
		opacity: 0.95;
		-webkit-transition: all var(--hover-shroud-time) cubic-bezier(0.19, 1, 0.22, 1);
		-moz-transition: all var(--hover-shroud-time) cubic-bezier(0.19, 1, 0.22, 1);
		-o-transition: all var(--hover-shroud-time) cubic-bezier(0.19, 1, 0.22, 1);
		transition: all var(--hover-shroud-time) cubic-bezier(0.19, 1, 0.22, 1);
		text-align: center;
		position: relative;
		z-index: 200;
}


.honeycomb_unit .honeycomb_content .honeycomb_shroud h2{
		text-align: center;
		padding-top: calc(var(--hexa-dim)/3);
		color: white;
}

.honeycomb_unit .honeycomb_content .honeycomb_shroud p{
		text-align: center;
		color: white;
}

.honeycomb_unit .honeycomb_content:hover .honeycomb_shroud{
		height: calc(var(--hexa-dim)*1);
}

/*Info Page */
.page {
width: 70%;

}

/* Responsiveness */
@media (min-width: 1201px) {
	.honeycomb_list li:nth-child(5n-1) {
		position: relative;
		top: calc(var(--hexa-dim)*-0.25);
		right: calc(var(--hexa-dim)*-0.5);
	}
	.honeycomb_list li:nth-child(5n) {
		position: relative;
		top: calc(var(--hexa-dim)*-0.25);
		right: calc(var(--hexa-dim)*-0.5);
	}
	.honeycomb_list li:nth-child(5n-1) .honeycomb_u3 {
		background-color: var(--color-4);
	}
	.honeycomb_list li:nth-child(5n) .honeycomb_u3 {
		background-color: var(--color-4);
	}
}
